
{% extends 'base.html' %}

{% block title %}Guardian{% endblock title %}

{% block body %}

<div class="container">
<br>
<table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">guardian_id</th>
        <th scope="col">guardian_name</th>
        <th scope="col">gender</th>
        <th scope="col">contact</th>
      </tr>
    </thead>
    <tbody>

        {% for sts in st %}
      <tr>
        

        <td>{{sts.guardian_id}}</td>
        <td>{{sts.guardian_name}}</td>
        <td>{{sts.gender}}</td>
        <td>{{sts.contact}}</td>

        
      </tr>
        {% endfor %}
    </tbody>
  </table>
</div>

{% endblock body %}