{% extends 'base.html' %}

{% block title %}Guardian{% endblock title %}

{% block body %}

<div class="container">
    <br>
    <form class="row g-3" method="post" action="/guardianform">
        {% csrf_token %}
        <div class="col-md-4">
            <label for="guardian_id" class="form-label">guardian_id</label>
            <input type="text" class="form-control" id="guardian_id" name="guardian_id" required>

        </div>
        <div class="col-md-4">
            <label for="guardian_name" class="form-label">guardian_name</label>
            <input type="text" class="form-control" id="guardian_name" name="guardian_name" required>
        </div>

        <div class="col-md-3">
            <label for="gender" class="form-label">gender</label>
            <select class="form-select" id="gender" name="gender" required>
                <option selected disabled value="">Choose...</option>
                <option>M</option>
                <option>F</option>
                <option>O</option>
            </select>
        </div>

        <div class="col-md-6">
            <label for="contact" class="form-label">contact</label>
            <input type="text" class="form-control" id="contact"  name="contact" required>

        </div>


        <div class="col-12">
            <button class="btn btn-primary" type="submit">Submit Data</button>
        </div>
    </form>
</div>


{% endblock body %}



